.technology h3{
    width: 85%;
}

.technology ul{
    font-size: 32px;
    padding: 16px
}

.technology ul>li>a{
    font-size: 32px;
    padding: 16px 32px;
    color: var(--colorText)
}





.containerImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: 400px;
  }

  .cuadrante {
    background-size: 200%; 
    width: 200px; 
    height: 200px;
  }
  
.cuadrante1 { background-position: top left; }
.cuadrante2 { background-position: top right; }
.cuadrante3 { background-position: bottom left; }
.cuadrante4 { background-position: bottom right; }



@media screen and (max-width : 992px) {
  .technology>h3{
    margin-bottom: 5%;
    text-align: center;
    color: rgb(105, 105, 105);
  }

  .technology>section{
    flex-direction: column-reverse
  }

  .containerImg{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 500px;

  }

  .containerImg>.cuadrante{
    width: 100%;
    height: auto;
  }
  .content-list{
    flex-direction: column;
  }
  .content-list nav{
    width: 100%;
    margin-top: 5%;
  }

  .content-list nav>ul{
    width: 100%;
    padding: 0;
  }

  #content-info-technology{
    text-align: center;
    margin-bottom: 10%;
  }
  #content-info-technology>p{
    text-align: center;
    width: 100% !important;
  }
  .ul-technology{
    display: flex;
    justify-content: center;
  }
}