@{
    ViewData["Title"] = "Home";
}
<div class="row vw-100 section-home gap-2 justify-content-center align-items-center">
    <section class="col-12 col-lg-4 justify-content-md-center section-content-home">
        <h3 class="text-opacity-75 halant-regular mb-lg-5">So, you want to travel to
            <br> 
            <span class="text-white text-uppercase halant-light big-letter">Space</span>
        </h3>
        <p class="text-white-50 text-opacity-75 halant-regular">Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience</p>
    </section>
    <section class="col-12 col-lg-4 d-flex justify-content-lg-end justify-content-center align-items-center position-relative">
        <button class="button-explore ms-lg-5 rounded-circle halant-regular text-white">EXPLORE</button>
        @* <span class="luna rounded-circle"></span> *@
    </section>
</div>

@section Scripts{
    <script src="~/js/Home/home.js"></script>
}