@model Interstellar.Models.Crew;
@{
    ViewData["Title"] = "Index";
}
<div class="row container-fluid section-crew overflow-y-hidden">
    <section id="sectioCrew" class="col-12 col-lg-6 m-0 d-flex flex-column align-items-center justify-content-between ">
    <h3 id="h3Crew" class="mb-5 w-75">02<div id="divH3" class="text-white ms-4 d-inline">MEET YOUR CREW</span></h3>
        
        <div class="w-75 mt-lg-5 position-relative">
            <p id="pCrew" class="halant-light display-6 text-white-50 position-absolute top-0">@Model.Role</p>
            <h2 id="h2Crew" class="halant-light display-2 text-white position-relative">@Model.Name</h2>
    
            <p id="bioCrew" class="text-white mt-4 d-inline-flex p-technology">@Model.Bio</p>
    
        </div>
        <nav class="w-75 mb,lg-5 d-flex nav-crew ">
            <ul class="w-75 nav d-flex p-0 m-lg-0 ustify-content-lg-start justify-content-center gap-4">
                <li class="rounded-circle"><a asp-area="Crew" asp-controller="Crew" asp-action="SearchData" asp-route-id="1" data-crew="Douglas" class="nav-link ps-0"></a></li>
                <li class="rounded-circle"><a asp-area="Crew" asp-controller="Crew" asp-action="SearchData" asp-route-id="2" data-crew="Mark" class="nav-link ps-0"></a></li>
                <li class="rounded-circle"><a asp-area="Crew" asp-controller="Crew" asp-action="SearchData" asp-route-id="3" data-crew="Victor" class="nav-link ps-0"></a></li>
                <li class="rounded-circle"><a asp-area="Crew" asp-controller="Crew" asp-action="SearchData" asp-route-id="4" data-crew="Anousheh" class="nav-link ps-0"></a></li>
            </ul>
        </nav>
    </section>
    <section class="col-12 col-lg-6 section-img-crew d-flex align-items-lg-end justify-content-center position-relative ">
        <img id="imgCrew" src=@Model.Images.Webp alt=Img{@Model.Name} class="position-absolute">
    </section>
</div>

@section Scripts{
    <script src="~/js/Crew/crew.js"></script>

        <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            let elements = document.querySelectorAll("[data-crew]");
            let liCrew = document.querySelectorAll(".nav-crew li");
            let url = window.location.href.split("=");

            if(!url[1]){
                liCrew[0].id ="crew-selected"
            }

            else{
                for(let i = 0; i < elements.length;i++){
                    if(url[1].includes(elements[i].attributes[0].value)){
                        liCrew[i].id="crew-selected"
                    }
                }
            }
        })
    </script>
}


